* {
    margin: 0;
    padding: 0;
    max-width: auto;
}

body {
    overflow-x: hidden;
}

.layout {
    display: grid;
    grid-template-columns: 10% 80% 5% 5%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "nav nav nav nav" "main main main main" "footer footer footer footer";
    grid-row-gap: 5em;
    width: 100%;
    height: 100vh;
}

.header {
    grid-area: nav;
    &__nav {
        background-color: gold;
    }
    &__boxShadow {
        box-shadow: 1em 1em 1.5em 1em black;
    }
}