.main {
    grid-area: main;
    background-color: blueviolet;
    padding-top: .5em;
    &__homeImages {
        border-radius: 4px;
        width: 100%;
        height: 75%;
    }
    &__homeImage {
        border-radius: .5em;
        height: auto;
        width: 100%;
        margin: auto;
        padding-top: 3em;
    }
    &__callUsContactBox {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 2em 0 3em 0;
        background-color: black;
    }
    &__callUsTextSize {
        font-size: 5vw;
        color: white;
    }
    &__svgImg {
        width: 5%;
        height: 5%;
        transform: scaleX(-1);
        color: white;
    }
    &__contactButton {
        margin-right: 10em;
    }
    &__homeBenefitsImages {
        border-radius: 50%;
        width: 65%;
        height: 65%;
        border-color: blueviolet;
        border-style: double;
    }
    &__titles {
        margin: 1em 0 1em 0;
    }
    &__clientImages {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin: 1em .8em 1em .8em;
        width: 100%;
        height: 75%;
    }
    &__imageOfEachSection {
        border-radius: .5em;
        height: auto;
        width: 100%;
        margin: auto;
        padding-top: 2em;
    }
    &__ourServicesImages {
        border-radius: 2%;
        width: 65%;
        height: 65%;
        border-color: blueviolet;
        border-style: double;
    }
}