// vars 
$mainColor:pink;
$textColor:white;
$bgColor: blueviolet;
$boxBorder: 1px solid black;
// breakpoints
$mobile:576px;
$tablet:768px;
$desktop:1200px;
$mobile2MinWidth:375px;
$mobile2MaxHeight:916px;
$mobileMinWidth:279px;
$mobileMaxWidth:414px;
$mobileMinHeight:667px;
$mobileMaxHeight:915px;
$tabletMinWidth:768px;
$tabletMaxHeight:1368px;
$tabletMaxWidth:767px;
$desktop1MinWidth:768px;
$desktop1MaxWidth:1023px;
$desktop2MinWidth:1024px;
$desktop2MaxHeight:600px;