// vars 
$mainColor:pink;
$textColor:white;
$bgColor: blueviolet;
$boxBorder: 1px solid black;
// breakpoints
$mobile:576px;
$tablet:768px;
$desktop:1200px;
$mobileMinWidth:280px;
$mobileMaxWidth:319px;
$tabletMinWidth:320px;
$tabletMaxWidth:767px;
$desktop1MinWidth:768px;
$desktop1MaxWidth:1023px;
$desktop2MinWidth:1024px;
$desktop2MaxHeight:600px;